@import '../../style/variables';


iphone-div{

    margin: 60px;
    display: block;
    width:400px;
    aspect-ratio:1/2;
    background-color: silver;
    border-radius: 65px;
    position: fixed;

    padding:3px;
    box-sizing: border-box;
    .muteButton{
        position: absolute;
        left:0px;
        top:100px;
        width:3px;
        height:15px;
        background-color: gray;
    }


    .bezel{
        width:100%;
        height:100%;
        border-radius: 63px;
        background-color: black;
        padding: 13px;
        box-sizing: border-box;
    }
    .display{
        width:100%;
        height:100%;
        border-radius: 50px;
    }  
    .dynamicIslandWrapper{
        position: absolute;
        width:100%;
        height: 55px;
        left:0px;
        top:0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        .dynamicIsland{
            box-sizing: border-box;
            width: 110px;
            height:30px;
            border-radius: 30px;
            background-color: black;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding:8px;
            .selfCamera{
                height:100%;
                aspect-ratio: 1/1;
                border-radius: 50%;
                background-color: rgb(26, 24, 24);
                .selfCameraLens{
                    
                }
            }
        }
    }
}

