@import '../../style/variables';


@mixin sideMark($width,$height){
    position: absolute;
    background-color: gray;
    width:$width;
    height:$height;
}
@mixin button($height,$left-radius,$top-redius,$right-redius,$bottom-redius){
    height:$height;
    width:3px;
    position: absolute;
    border:0px;
    padding: 0px;
    border-radius: $left-radius $top-redius $right-redius $bottom-redius;
}

iphone-div{

    margin: 60px;
    display: block;
    width:400px;
    aspect-ratio:1/2;
    background-color: silver;
    border-radius: 65px;
    position: fixed;

    padding:3px;
    border:1px solid black;
    box-sizing: border-box;

    .sideMark1{
        @include sideMark(3px,15px);
    }
    .sideMark2{
        @include sideMark(15px,3px);
    }

    .muteButton{
        @include button(25px,7px ,0px ,0px ,7px)
    }


    .bezel{
        width:100%;
        height:100%;
        border-radius: 63px;
        background-color: black;
        padding: 13px;
        box-sizing: border-box;
    }
    .display{
        width:100%;
        height:100%;
        border-radius: 50px;
    }  
    .dynamicIslandWrapper{
        position: absolute;
        width:100%;
        height: 55px;
        left:0px;
        top:0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        .dynamicIsland{
            box-sizing: border-box;
            width: 110px;
            height:30px;
            border-radius: 30px;
            background-color: black;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding:8px;
            .selfCamera{
                height:100%;
                aspect-ratio: 1/1;
                border-radius: 50%;
                background-color: rgb(26, 24, 24);
                .selfCameraLens{
                    
                }
            }
        }
    }
}

